*{
    margin: 7px;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}
.container{
    border: 1px solid #717377;
    align-items: center;
    display: flexbox;
    padding: 20px;
    border-radius: 15px;
    background: cornsilk;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.6);
}
input{
    width: 320px;
    border: none;
    padding: 25px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: #3a4452;

}
button{
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    background: transperent;
    font-size: 25px;
    box-shadow: -6px -6px 10px rgb(134, 170, 236);
}
.equalbtn{
    background-color: rgb(253, 63, 63);
}
.operator{
    color:blueviolet;
}
.delbtn{
    color:rgb(253, 63, 63) ;
}